ClassLibrary1/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.freshop977.somee.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="historial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="historialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="historialResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaDatosPantalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaDatosPantalonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="consultaDatosPantalonResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_producto" type="xs:int" />
        <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoria" type="xs:int" />
        <xs:element minOccurs="0" name="tipo_s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="consultaProductoResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inicioSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inicioSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inicioSesionResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="am" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>