Freshop97/Freshop97.Android/Web References/Servicio1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.freshop977.somee.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.freshop977.somee.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.freshop977.somee.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://www.freshop977.somee.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_historial_InputMessage">
    <wsdl:part name="parameters" element="tns:historial" />
  </wsdl:message>
  <wsdl:message name="IService1_historial_OutputMessage">
    <wsdl:part name="parameters" element="tns:historialResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_consultaDatosPantalon_InputMessage">
    <wsdl:part name="parameters" element="tns:consultaDatosPantalon" />
  </wsdl:message>
  <wsdl:message name="IService1_consultaDatosPantalon_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultaDatosPantalonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:transaccion" />
  </wsdl:message>
  <wsdl:message name="IService1_transaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:transaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_consultaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:consultaProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_consultaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_inicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:inicioSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_inicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:inicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="historial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/historial" message="tns:IService1_historial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/historialResponse" message="tns:IService1_historial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultaDatosPantalon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/consultaDatosPantalon" message="tns:IService1_consultaDatosPantalon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/consultaDatosPantalonResponse" message="tns:IService1_consultaDatosPantalon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transaccion" message="tns:IService1_transaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transaccionResponse" message="tns:IService1_transaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/consultaProducto" message="tns:IService1_consultaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/consultaProductoResponse" message="tns:IService1_consultaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/inicioSesion" message="tns:IService1_inicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/inicioSesionResponse" message="tns:IService1_inicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarUsuario" message="tns:IService1_registrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarUsuarioResponse" message="tns:IService1_registrarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="historial">
      <soap:operation soapAction="http://tempuri.org/IService1/historial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDatosPantalon">
      <soap:operation soapAction="http://tempuri.org/IService1/consultaDatosPantalon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transaccion">
      <soap:operation soapAction="http://tempuri.org/IService1/transaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/consultaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inicioSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/inicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://www.freshop977.somee.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>